.catch-the-wave 
    .wrraper 
        .wave 
            .wave-content 
                h3 спіймай хвилю 
                    span живи яскраво!
                p Полюбляєш екстрим та пригоди? Тоді тобі точно до нас! 
                    |Мрієш стати на сапборд, але ніяк не міг наважитсь? 
                    |Наші досвдчені інструктори навчать тебе вміло «піймати хвилі» та відчути себе справжнім сьорфером!
                p.button-detail
                    a(href="#") Детальніше 
