.header
    .wrraper 
        .top 
            .logo 
                a(href="#")
                    img(src="../img/logo.png", alt="")
                p trips
            .menu 
                ul.list
                    li
                        a(href="#") Головна
                    li
                        a(href="#") Послуги
                    li
                        a(href="#") Про компанію
                    li
                        a(href="#") Акції
                    li
                        a(href="#") Партнери
                    li
                        a(href="#") Відгуки
                    li
                        a(href="#") Контакти
        .header-content 
            h1 Морські пригоди
            .content-desc Не важливо, чи Ваша мандрівка належить до елітного рівня чи до економваріанту, 
                            |туроператор S trips потурбується, щоб Ви залишились задоволеними!
            p 
                a(href="#") Детальніше 
        .pick-up-plan
            p.plan обери свій план подорожі
            p.firma Наша фірма -лідер на ринку у своїй сфері
        .arrow 
            a(href="#")
        .row
            .our-company.col-md-3 
                p про нашу компанію
                p Наша компанія пропонує ряд цікавих-розважальних послуг, які принесуть вам ряд вражень!
                p 
                    a(href="#") Детальніше
                p * - зверніть увагу, зміна ціни може залежати від курсу долара.
            .bicycle-tour.col-md-3 
                p
                    img(src="", alt="")
                p Тур на велосипедах 
                p 335 грн*
                p Подорожуючи  на велосипеді, ви поринете в атмосферу мальовничих гір, чарівнмх краєвидів та шалених пригод.
            .excurs-island.col-md-3 
                P 
                    img(src="", alt="")
                p Екскурсія на острів
                p 500 грн*
                p Подорож на острів занурить Вас у незабутнні пригоди. Неймовірна краса  у будь-яку пору року .
            .special-order.col-md-3
                p 
                    img(src="", alt="")
                p Особливе замовлення
                p 250 грн*
                p Обираючи цю подорож, Ви самостійно робите її незабутнбою та не схожою на будь-які інші. 
            


