.header
    .wrraper 
        .top 
            .logo 
                a(href="#")
                    img(src="../img/logo.png", alt="")
                p trips
            .menu 
                ul.list
                    li
                        a(href="#") Головна
                    li
                        a(href="#") Послуги
                    li
                        a(href="#") Про компанію
                    li
                        a(href="#") Акції
                    li
                        a(href="#") Партнери
                    li
                        a(href="#") Відгуки
                    li
                        a(href="#") Контакти
        .header-content 
            h1 Морські пригоди
            .content-desc Не важливо, чи Ваша мандрівка належить до елітного рівня чи до економваріанту, 
                            |туроператор S trips потурбується, щоб Ви залишились задоволеними!
            p 
                a(href="#") Детальніше 
        .pick-up-plan
            p.plan обери свій план подорожі
            p.firma Наша фірма -лідер на ринку у своїй сфері
        .arrow 
            a(href="#")
        
            
            


