.wrraper 
    .top 
        .logo 
        .menu 
            ul
                li
                    a(href="#") Головна
                li
                    a(href="#") Послуги
                li
                    a(href="#") Про компанію
                li
                    a(href="#") Акції
                li
                    a(href="#") Партнери
                li
                    a(href="#") Відгуки
                li
                    a(href="#") Контакти