.wrraper   
    .row.our-row
        .our-company.col-md-3 
            p.our-title про нашу компанію
            p.our-desc Наша компанія пропонує ряд цікавих-розважальних послуг, які принесуть вам ряд вражень!
            p.button-detail 
                a(href="#") Детальніше
            p.ps * - зверніть увагу, зміна ціни може залежати від курсу долара.
        .bicycle-tour.col-md-3 
            p.img
                img(src="img/velo.png", alt="")
            p.title Тур на велосипедах 
            p.price 335 грн*
            p.desc Подорожуючи  на велосипеді, ви поринете в атмосферу мальовничих гір, чарівнмх краєвидів та шалених пригод.
        .excurs-island.col-md-3 
            P.img 
                img(src="img/excurs.png", alt="")
            p.title Екскурсія на острів
            p.price 500 грн*
            p.desc Подорож на острів занурить Вас у незабутнні пригоди. Неймовірна краса  у будь-яку пору року .
        .special-order.col-md-3
            p.img 
                img(src="img/special.png", alt="")
            p.title Особливе замовлення
            p.price 250 грн*
            p.desc Обираючи цю подорож, 
                    |Ви самостійно робите її незабутнбою та не схожою на будь-які інші.
        .all-plane 
            p 
                a(href="#")  дивитись усі плани 
                    img(src="img/all-plane.png", alt="")
        .desert-island
            .desert-island-img
                img.img-fluid(src="img/island.png", alt="")
            .content
                .island-title Дивовижний безлюдний острів, який зводить людей з розуму
                .island-content
                    .island-desc 
                        p Пхукет - курортно-туристична Мекка Таїланду. Білосніжний пісок, і бірюзове море, і мальовничі скелі, а на них же, трохи вище - буйна тропічна рослинність. 
                            |Все це можна побачити на власні очі.
                        p.button-detail 
                            a(href="") Замовити тур
                            a(href="#") Детальніше
                    div В дану вартість входить обслуговування персоналу, вечеря і захоплюючі історії.


