doctype html
html(lang="en")
    head
        include components/meta
        title Template
        include components/link
    body 
        include components/vars
        include components/mixins
        include components/header
        include components/footer