.header
    background-image: url(../img/main-foto.png)
.top
    display: flex
    justify-content: space-between
    padding-top: 50px
.logo
    display: flex
    p
        font-size: 36px
        line-height: 21px
        color: #fff
        font-weight: 500
.list
    display: flex
    justify-content: space-between
    margin: 0
    padding: 0
    list-style: none
    a 
        padding-left: 30px
        font-size: 14px
        letter-spacing: 1px
        color: #fff
        font-weight: 400
        text-decoration: none
        &:hover
            color: #ffb700
.header-content 
    text-align: center
    a
        display: inline-block
        padding: 11px 32px
        font-size: 16px
        letter-spacing: 1px
        color: #fdfcfb
        font-weight: 400
        text-decoration: none
        text-transform: uppercase
        background-color: #ffb700
        border-radius: 23px
        &:hover
            background-color: #e0a101
.content-desc
    max-width: 560px
    font-size: 16px
    color: #fff
    font-weight: 400
    font-style: italic